* {
    margin: 0;
    padding: 0;
}
header {
    background-color: green;
    padding: 50px;
    direction: rtl;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: segoe ui, sans-serif;
    background: url("images/background.jpg") repeat;
}
#main_header {
    background-color: green;
}
#header_container {
    max-width: 800px;
    margin: auto;
    overflow: auto;
}
header a {
    color: white;
}
footer {
    background-color: green;
    padding: 40px;
    margin-top: 40px;
}