* {
    direction: rtl;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
#home_container {
    max-width: 1000px;
    margin: auto;
}
.map {
    border: green 1px solid;
    padding: 30px;
    margin: 30px;
    overflow: hidden;
    background: none white;
}
.map h2 {
    text-align: center;
}
.map .picture, .info {
    float: right;
    border: black 1px solid;
}
.map .info {
    width: 70%;
    padding: 20px;
}
.map p.more_info {
    display: inline;
    margin-left: 50px;
}
.map .picture {
    width: 30%;
    height: 200px;
}
.pagination {
    text-align: center;
}
