<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'maps/base.css' %}">
    <script src="https://kit.fontawesome.com/408c969056.js" crossorigin="anonymous"></script>
    {% block link %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}
    <header id="main_header">
        <div class="base-container">
            <div>
                {% if user is none %}
                <a href="{% url 'login' %}">ورود به حساب</a>
                {% else %}
                <a href="#">{{ user }}</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer id="main-footer">
        <div class="base-container">
            <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="#"><i class="fab fa-telegram-plane fa-3x"></i></a>
            <a href="#"><i class="fab fa-github fa-3x"></i></a>
        </div>

    </footer>
    {% endblock %}
</body>
</html>