<!DOCTYPE html>
<html lang="FA">
<head>
    {% extends "maps/base.html" %}
    <meta charset="UTF-8">
    {% load static %}
    {% block link_css %}
    <link rel="stylesheet" href="{% static 'maps/home.css' %}">
    <script src="https://kit.fontawesome.com/408c969056.js" crossorigin="anonymous"></script>
    {% endblock %}
    <title>{% block title %} Kazi | Home {% endblock %}</title>
</head>
<body>
    {% block content %}
    <div id="home_container">
        {% for map in maps %}
            <div class="map">
                <h2><a href="#">{{ map.name }}</a></h2>
                <div class="info">
                    <p>{{ map.notes }}</p>
                    <br>
                    <p class="more_info">تاریخ اضافه شدن: {{ map.time_created }}</p>
                    <p class="more_info">مساحت: {{ map.s }} هکتار</p>
                    <p class="more_info">مالک: {{ map.user.username }}</p>
                </div>
                <!-- .info -->
                <div class="picture">
                    here must be a picture
                </div>
                <!-- .picture -->
            </div>
            <!-- map -->
        {% endfor %}
        <div class="pagination">
            <p>صفحه {{page}}/ {{total_pages}}</p>
            <form method="post">
            {% csrf_token %}
            <button name="next" id="next"><i class="fas fa-chevron-right"></i> بعدی</button>
            <button name="prev" id="prev">قبلی <i class="fas fa-chevron-left"></i></button>
            <input type="hidden" name="page" value="{{page}}">
            </form>

        </div>
    <!--pagination -->
    </div>
    <!-- #home_container -->
    {% endblock %}

</body>
</html>