<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kazi Login</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input name="username" id="username" type="text">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        {% if error %}
        <div style="color: red">
            invalid username
        </div>
        {% endif %}
        <button type="submit">Login</button>
    </form>
</body>
</html>